.movie {
  --poster-height: 20rem;

  position: relative;
  display: inline-grid;
  grid-template-columns: calc(var(--poster-height) * 0.675) 24rem;
  grid-template-rows: var(--poster-height) 3rem;
  grid-template-areas:
    "poster info"
    "watch info";

  background-color: var(--color-movie-bg);
  padding: 1rem;
  margin: 1rem;
  color: white;
  box-sizing: border-box;
  box-shadow: 0 2px 4px #111;
  border-radius: 0.25rem;
}


/**********************************************************
    POSTER
**********************************************************/

.movie img {
  grid-area: poster;
  height: var(--poster-height);
  width: calc(var(--poster-height) * 0.675);
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 0.25rem;
  overflow: hidden;
}


/**********************************************************
    INFO
**********************************************************/

.info {
    grid-area: info;
    padding-left: 1rem;
    overflow-y: scroll;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    height: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    overflow: hidden;
    text-shadow: 1px 1px black;
}

.details {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.details > span {
    margin-right: 1rem;
}

.cast {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.plot {
    font-size: 1rem;
}


/**********************************************************
    RATINGS
**********************************************************/

.ratings {
    /* grid-area: ratings; */
    line-height: 1.5rem;
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 0.5rem;
    /* padding-left: 1rem; */
    font-weight: bold;
}

.imdb_link {
    text-align: center;
    text-decoration: none;
    color: rgb(126 184 255);
    text-shadow: 1px 1px black;
    margin-right: 1rem;
}


/**********************************************************
    BUTTONS
**********************************************************/

.watch, .add, .loadData {
    height: 1.25rem;
    padding: 0.25rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 155, 255, 0.2);
    cursor: pointer;
    line-height: 1.25rem;
    transition: all 0.25s ease;
    border-radius: 0.25rem;
    box-shadow: 0 2px 2px #333;
    text-shadow: 1px 1px black;
}

.watch:hover, .add:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.watch {
    grid-area: watch;
    margin-top: 1rem;
}

.remove {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    line-height: 1.6rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    border-radius: 1rem;
    text-align: center;
    transition: all 0.25s ease;
    cursor: pointer;
    background-color: #777;
    opacity: 0.5;
}

.remove:hover {
    color: rgba(255, 100, 100, 1);
    opacity: 1;
}

.remove:active {
    background-color: #CCC;
}

.inList {
    height: 1.25rem;
    padding: 0.25rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.25rem;
    text-shadow: 1px 1px black;
}
