:root {
    --color-font-main: #DEDEDE;
    --color-font-secondary: #AAA;
    --color-font-tertiary: #999;

    --color-main-bg: #333;
    --color-movie-bg: #555;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 14px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: arial;
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100%;
  background-color: var(--color-main-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
